html {
  background-color: rgb(250 250 250);
}

body {
  background: rgb(245 245 245);
  display: flex;
  margin: auto;
  width: 1050px;
  height: 100%;
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  margin-top: 20px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #8A92A6;
}

input, textarea {
  border-radius: 3px;
  border: 1px solid #e3e5eb;
  height: 40px;
  width: calc(100% - 20px);
  margin: 10px 10px 20px;
  box-sizing: border-box;
}

button {
  width: 120px;
  height: 40px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  background: #5D73E1;
  margin: 10px 0 20px 10px;
  cursor: pointer;
}


/*All*/

.wrapper {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

nav {
  background: #FFFFFF;
  border-radius: 10px;
  width: 250px;
  height: 170px;
  box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05)
}

.logo {
  width: 250px;
  height: 60px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #079AA2;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.item:nth-child(n+1) {
  margin-top: 20px;
}

.item::before {
  content: '>';
  margin-right: 5px;
}

header {
  width: 750px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  align-content: center;
  flex-wrap: wrap;
  height: 90px;
  margin-left: 44px;
  margin-bottom: 30px;
}

.signInOutIcon {
  background: no-repeat center/contain url('./images/user.png');
  margin-right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.signInOutForm {
  width: 300px;
  height: 150px;
  background: #F5F5F5;
  position: absolute;
  top: 68px;
  display: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  z-index: 1;
}

.signInOutInput {
  height: 25px;
}

.signInOutButton {
  height: 25px;
  margin-top: 0;
  width: 135px;
}

main {
  background: #FFFFFF;
  border-radius: 10px;
  width: 750px;
  margin-left: 50px;
  box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05);
  margin-bottom: 30px;
}

h2 {
  margin-left: 10px;
  font-weight: normal;
}

.wrapperDate {
  display: flex;
}

/*Section*/

section {
  background: #FFFFFF;
  border-radius: 10px;
  width: 750px;
  margin-left: 50px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05);
  display: flex;
}

.image {
  width: 230px;
  height: calc(100% - 20px);
  border-radius: 10px;
  background: #ADB5BD;
  text-align: center;
  padding-top: 120px;
  margin: 10px 0 10px 10px;
  box-sizing: border-box;
}

h4 {
  margin-left: 10px;
}

.hotel {
  margin-left: 30px;
  display: block;
  width: 50%;
}

.description {
  margin-left: 10px;
  color: #8A92A6;
}

.nextPage {
  margin-left: 50px;
  margin-bottom: 50px;
  background: #FFF;
  width: 90px;
  display: flex;
}

.nextPageButton {
  width: 30px;
  height: 35px;
  margin: 0;
  border-radius: 0;
  background: #FFF;
  color: #5D73E1;
}

.nextPageButton:enabled  {
  color: #FFF;
  background: #5D73E1;
}

.descriptionHotel {
  flex-direction: column;
}

.buttons, .images{
  display: flex;
}

h3 {
  margin: 0 10px;
}

label {
  color: #ADB5BD;
}

textarea {
  max-width: 730px;
  min-width: 730px;
}

.inputFile::before {
  content: '';
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./images/plus.png');
  position: absolute;
  background-color: #dddddd;
  width: 100px;
  height: 60px;
}

.inputFile {
  align-self: center;
  cursor: pointer;
}

/*Users*/

#users {
  margin-left: 10px;
  width: 730px;
}

th {
  color: #8A92A6;
  height: 40px;
}

tr:nth-child(odd) {
  background: #F5F6FA;
}

td {
  padding-left: 10px;
  height: 40px;
}

/*Aside*/

aside {
  width: 350px;
  height: 400px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.support {
  background: #079AA2;
  height: 40px;
  width: 100%;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  text-align: center;
  padding-top: 15px;
  align-self: start;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 7px;
  padding: 5px 10px;
  background: #079AA2;
  margin-left: 5px;
  margin-right: 5px;
}

.messageThem {
  align-self: flex-end;
  background: #fff;
  border: 1px solid #079AA2;
}

.messageMe {
  align-self: flex-start;
}

.supportInput {
  align-self: end;
}

.supportChat {
  width: 30px;
  height: 30px;
  background-image: url('./images/chat.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 30px;
  bottom: 60px;
  cursor: pointer;
}